<form>
  <input
    type="text"
    name="nomeUtente"
    [(ngModel)]="nomeUtente"
    placeholder="inserisci il tuo nome"
  />
</form>
<div>
  <button (click)="rapido = false">Prenota</button>
  <button (click)="rapido = true">Rapida</button>
</div>
<p #pippo *ngIf="nomePosto" [(ngModel)]="nomePosto">{{ nomePosto }}</p>
<div *ngIf="rapido != undefined">
  <div #nome value="nome" *ngFor="let fila of teatro.platea; let i = index">
  <app-pulsante
  [nomePosto]="posto"
  [etichetta]="'P' + i + j"
  [prenotato]="prenotato"
  [rapido]="rapido"
  (nomePostoEmitter)="mostraNome($event)"
  (cliccato)="
    rapido ? prenotaVeloce('platea', i, j) : seleziona('platea', i, j)
  "
  (selezionatoEmitter)="selezionato = $event"
>
</app-pulsante>
    </span>
  </div>
  <br />
  <div *ngFor="let fila of teatro.palco; let n = index">
    <span *ngFor="let nome of fila; let m = index">
      <button
        *ngIf="rapido"
        [ngClass]="nome !== null ? 'prenotato' : 'libero'"
        (click)="nome !== null ? prenotaRapido('platea', n, m) : mostraNome()"
      >
        {{ nome }}
      </button>
      <button
        *ngIf="!rapido"
        [ngClass]="nome !== null ? 'prenotato' : 'libero'"
        (click)="nome !== null ? seleziona('platea', n, m) : mostraNome()"
      >
        {{ nome }}
      </button>
    </span>
  </div>

  <br />
  <button
    *ngIf="!rapido"
    [disabled]="!selezionato"
    (click)="confermaPrenotazioni()"
  >
    conferma
  </button>
</div>
