<form>
  <input
    type="text"
    name="nomeUtente"
    [(ngModel)]="nomeUtente"
    placeholder="inserisci il tuo nome"
  />
</form>
<div>
  <p *ngIf="nomePosto">{{ nomePosto }}</p>
  <div *ngFor="let fila of platea; let i = index">
    <span *ngFor="let posto of fila; let j = index">
      <button (click)="mostraNome($event)">{{ posto }}</button>
    </span>
  </div>
  <br />
  <div *ngFor="let fila of palco; let n = index">
    <span *ngFor="let posto of fila; let m = index">
      <button>{{ 'P' + n + m }}</button>
    </span>
  </div>
  <button *ngIf="!rapido" (click)="confermaPrenotazioni()">conferma</button>
</div>
