<p>0ef3f513</p>
<div *ngIf="!log">
  <app-login (chiaveUtenteEmitter)="getDati($event)"></app-login>
  <app-gestione></app-gestione>
</div>
<div *ngIf="log">
  <form>
    <input
      type="text"
      name="nomeUtente"
      [(ngModel)]="nomeUtente"
      placeholder="inserisci il tuo nome"
    />
  </form>
  <div>
    <button (click)="rapido = false">Prenota</button>
    <button (click)="rapido = true">Rapida</button>
  </div>
  <app-teatro [datiIn$]="datiIn$"[rapido] = "rapido"></app-teatro>
  <button (click)="indietro()">indietro</button>
</div>
